//Colors
$pending: #ffc107;
$pending-dark: #e6ac00;
$approve: #00cc99;
$approve-dark: #00b386;
$reject: #eb4748;
$reject-dark: #cf1717;
$white:  #fff;

.btn-pending {
    background-color: $pending;
    color: $white;
    &:hover {
        background-color: $pending-dark;
    }
}
.btn-approve {
    background-color: $approve;
    color: $white;
    &:hover {
        background-color: $approve-dark;
    }
}
.btn-reject {
    background-color: $reject;
    color: $white;
    &:hover {
        background-color: $reject-dark;
    }
}
.notification {
    background-color: $reject;
    border-radius: 5px;
    padding: 2px 7px;
    margin-left: 7px;
    font-size: 11px;
    color: $white;
    font-weight: bold;
}

.text-approve {
    color: $approve;
}
.text-reject {
    color: $reject;
}
