<template>
    <default-field :field="field" ref="row">
        <template slot="field">

            <div>
                <div v-for="(option, val) in field.options" class="mb-2">
                    <label :for="`${field.attribute}_${val}`">
                        <input v-model="value" :value="val" :id="`${field.attribute}_${val}`" :name="field.attribute" type="radio">
                        <span v-if="val == 'approve'" class="text-approve">{{ option }}</span>
                        <span v-else class="text-reject">{{ option }}</span>
                    </label>
                </div>
            </div>

            <div v-if="hasError">
                <p class="my-2 text-danger">
                    {{ firstError }}
                </p>
            </div>

        </template>
    </default-field>
</template>

<script>
import {FormField, HandlesValidationErrors} from 'laravel-nova';
export default {
    mixins: [FormField, HandlesValidationErrors],
    props: ['resourceName', 'resourceId', 'field'],

    methods: {
        /*
            * Set the initial, internal value for the field.
            */
        setInitialValue() {
            if (this.value) {
                return;
            }
            if (this.field.value !== null) {
                return this.value = this.field.value;
            }
            return this.value = this.field.default;
        },
        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            const value = this.value !== null ? this.value : this.field.default;
            formData.append(this.field.attribute, value);
        },
    }
}
</script>