
<template>
<div>
    <span>
        <button v-on:click="openModal();" class="btn btn-default btn-primary">{{ __('See') }}</button>
    </span>
    <portal to="modals">
        <transition name="fade">
            <modal
                    v-if="modalOpen"
                    class="modal"
                    tabindex="-1"
                    role="dialog"
            >
                <div class="bg-white rounded-lg shadow-lg overflow-hidden outer-diff">
                    <div class="p-8">
                        <heading :level="2" class="mb-6">{{ __('Difference') }}</heading>
                        <div v-html="html"></div>
                        <!-- <p v-if="valid" class="text-80 leading-normal">{{ __('Are you sure you accept these changes') }} ?</p> -->
                    </div>

                    <div class="bg-30 px-6 py-3 flex">
                        <div class="flex items-center ml-auto">
                            <button type="button" @click.prevent="closeModal" class="btn text-80 font-normal h-9 px-3 mr-3 btn-link">{{ __('Close') }}</button>
                        </div>
                    </div>
                </div>
            </modal>
        </transition>
    </portal>
</div>
</template>

<script>
export default {
    props: ['resourceName', 'field', 'deleteResource'],

    data() {
        return {
            html: null,
            modalOpen: false,
        };
    },

    mounted() {
        Nova.request().get(`/api/${this.resourceName}/diff/${this.$parent.resource.id.value}`)
            .then((data) => {
                this.html = data.data;
            });
    },

    methods: {

        openModal() {
            this.modalOpen = true;
        },

        closeModal() {
            this.modalOpen = false;
        },
    }
}
</script>

<style>
    .outer-diff {
        margin: 0 auto;
    }
    .diff td {
        padding: 0 0.667em;
        vertical-align: top;
        white-space: pre;
        white-space: pre-wrap;
        font-family: Consolas, 'Courier New', Courier, monospace;
        font-size: 0.75em;
        line-height: 1.333;
        width: 400px;
    }
    .diff th {
        padding:0.667em;
    }

    del {
        text-decoration: none;
        border: 1px solid rgb(255, 192, 192);
        background: rgb(255, 224, 224);
    }
    del:before, .diffDeleted {
        content: '- ';
    }

    ins {
        text-decoration: none;
        border: 1px solid rgb(192, 255, 192);
        background: rgb(224, 255, 224);
    }
    ins:before, .diffInserted {
        content: '+ ';
    }

    .diff span {
        display: block;
        min-height: 1.333em;
        margin-top: -1px;
        padding: 0 3px;
    }

    * html .diff span {
        height: 1.333em;
    }

    .diff span:first-child {
        margin-top: 0;
    }

    .diffDeleted span {
        border: 1px solid rgb(255, 192, 192);
        background: rgb(255, 224, 224);
    }
    .diffDeleted span:before {
        content: '- ';
    }

    .diffInserted span {
        border: 1px solid rgb(192, 255, 192);
        background: rgb(224, 255, 224);
    }
    .diffInserted span:before {
        content: '+ ';
    }

    #toStringOutput {
        margin: 0 2em 2em;
    }
</style>

