
<template>
<div>
    <span>
        <button v-on:click="openModal(); isValid();" class="btn btn-default btn-approve">{{ __('Accept') }}</button>
    </span>
    <span>
        <button v-on:click="openModal(); isInvalid();" class="btn btn-default btn-reject">{{ __('Decline') }}</button>
    </span>
    <portal to="modals">
        <transition name="fade">
            <modal
                    v-if="modalOpen"
                    class="modal"
                    tabindex="-1"
                    role="dialog"
            >
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="p-8">
                        <heading v-if="valid" :level="2" class="mb-6">{{ __('Accept') }} ?</heading>
                        <heading v-else :level="2" class="mb-6">{{ __('Decline') }} ?</heading>
                        <p v-if="valid" class="text-80 leading-normal">{{ __('Are you sure you accept these changes') }} ?</p>
                        <p v-else class="text-80 leading-normal">{{ __('Are you sure you refuse these changes') }} ?</p>
                    </div>

                    <div class="bg-30 px-6 py-3 flex">
                        <div class="flex items-center ml-auto">
                            <button type="button" @click.prevent="closeModal" class="btn text-80 font-normal h-9 px-3 mr-3 btn-link">{{ __('Cancel') }}</button>
                            <button v-if="valid" @click="approve" class="btn btn-default btn-approve">{{ __('Accept') }}</button>
                            <button v-else @click="reject" class="btn btn-default btn-reject">{{ __('Decline') }}</button>
                        </div>
                    </div>
                </div>
            </modal>
        </transition>
    </portal>
</div>
</template>

<script>
export default {
    props: ['resourceName', 'field', 'deleteResource'],

    data() {
        return {
            modalOpen: false,
            valid: false,
            invalid: false,
        };
    },

    methods: {
        /**
         * Send an update request to approve value for this resource
         */
        approve() {
            this.field.value = this.field.approve;      
            return Nova.request().post(
                `/api/${this.resourceName}/approve/${this.$parent.resource.id.value}`,
                {
                    status: this.field.value
                }
            ).then((response) => {
                this.modalOpen = false;
                this.valid = false;
                this.$parent.deleteResource(this.$parent.resource);
                this.$emit('actionExecuted')
                this.$toasted.show(this.__('L\'action a été effectuée avec succès !'), { type: 'success' })
            });
        },

        /**
         * Send an update request to reject value for this resource
         */
        reject() {
            this.field.value = this.field.reject;          
            return Nova.request().post(
                `/api/${this.resourceName}/reject/${this.$parent.resource.id.value}`,
                {
                    status: this.field.value
                }
            ).then((response) => {
                this.modalOpen = false;
                this.invalid = false;
                this.$parent.deleteResource(this.$parent.resource);
                this.$emit('actionExecuted')
                this.$toasted.show(this.__('L\'action a été effectuée avec succès !'), { type: 'success' })
            });
        },
        
        openModal() {
            this.modalOpen = true;
        },

        closeModal() {
            this.modalOpen = false;
            if(this.valid || this.invalid) {
                this.valid = false;
                this.invalid = false;
            }
        },

        isValid() {
            this.valid = true;
            this.invalid = false;
        },

        isInvalid() {
            this.invalid = true;
            this.valid = false;
        },
    }
}
</script>
