
<template>
    <strong><span class="notification">{{indicator}}</span></strong>
</template>

<script>
export default {
    props: ['resourceName', 'field', 'deleteResource'],

    data() {
        return {
            indicator: 0,
        };
    },

    mounted() {
        Nova.request().get(`/api/moderations/indicator`)
            .then((data) => {
                this.indicator = data.data;
            });
    },
}
</script>

<style>
    .notification {
        background-color: #eb4748;
        border-radius: 5px;
        padding: 2px 7px;
        margin-left: 7px;
        font-size: 11px;
        color: #fff;
        font-weight: bold;
    }
</style>

